@font-face {
    font-family:'fontawesome';
    src: url('#{$assetFont}/fontawesome-webfont.eot');
    src: url('#{$assetFont}/fontawesome-webfont.woff') format('woff'),
        url('#{$assetFont}/fontawesome-webfont.ttf') format('truetype'),
        url('#{$assetFont}/fontawesome-webfont.svg') format('svg');
        font-weight: lighter;
        font-style: normal;
}


