.btn{
	&.btn-primary{
		&:hover{
			background: #4abdac !important;
			color:white !important;
		}
	}
}

.push-down{
	&.xs{
		margin-top:5px;
	}
	&.sm{
		margin-top:10px;
	}
	&.md{
		margin-top:20px;
	}
	&.lg{
		margin-top:40px;
	}
	&.xl{
		margin-top:60px;
	}
}