// Wine Society


// Base Font
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-weight: lighter;
$base-font-size: 16px;
$base-line-height: 1.3em; //20px

$primary-grey: #717375;
$primary-grey-dark:#333333;
$primary-grey-light:#b6b6b6;

$primary-black-light:#454545;
$primary-black-dark: #1e1e1e;
