.alert-info {
	/*General*/
	display: inline;
	float:left;
	clear:both;
	text-decoration: none;
	margin: 0;
	
	/*Text*/

	font-size:13px;
	font-weight:bold;
	line-height:200%;
	color:rgb(121,164,179);
	text-align:left;
	text-shadow:0px 1px 0px rgba(255,255,255,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	@include background-image(linear-gradient(-90deg,rgb(229,243,249) 0%,rgb(209,244,255) 100%));
	width:90%;
	height:auto;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	@include border-radius(6px);
	border: 1px solid rgb(178,220,235);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5f3f9,endColorstr=#ffd1f4ff,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5f3f9,endColorstr=#ffd1f4ff,GradientType=0);
}

.alert-icon, .alert-close {
	width: 20px;
	height: 20px;
	background: url(images/style-1-sprite.png) no-repeat;
	float: left;
	margin: 9px 12px;
}

.alert-close {
	background: url(images/style-1-close-sprite.png) no-repeat;
	float: right;
	cursor: pointer;
}

.success { background-position: 0px; }
.error { background-position: -20px; }
.warning { background-position: -40px; }
.info { background-position: -60px; }

/*! 
 * FORM VALIDATION STYLING
 */ 
 
	/* Form styles */
	
	form.le-validate{
		font-family: Arial;
		width:208px;
		float:left;
		clear:both;
		margin:10px;
		padding:20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		border:1px solid #eeeeee;
		-webkit-box-shadow: 0 0 15px #eeeeee;
		-moz-box-shadow: 0 0 15px #eeeeee;
		-o-box-shadow: 0 0 15px #eeeeee;
		box-shadow: 0 0 15px #eeeeee;
		line-height:1;
	}
	form.two_column{
		width: 436px;
	}
	form.three_column{
		width: 664px;
	}
	form.three_column div.block{
		margin-right: 20px;
	}
	form.two_column > div.block:nth-child(2n+2){margin-right: 20px;}
	form.three_column > div.block:nth-child(3n+1){margin-right: 0;}
	form.le-validate div.block:last-child{width:100%; margin:0; float:left;}
	
	form.le-validate h3{font-weight:bold; vertical-align:baseline;font-size:100%; margin:0; margin-bottom:10px; padding:0;}

	form.le-validate div.block{float:left; width: 208px; margin-bottom:15px;}
	form.le-validate div.block label{
		float:left;
		font-size: 15px;
		color: #333;
		font-family: Calibri;
		line-height: 24px;
		cursor: pointer;
	}
	form.le-validate div.block label:hover{
		color: #577;
	}
	form.le-validate div.block .req{
		color: #788;
		font-size: 11px;
		float: right;
		line-height: 24px;
	}
	
	form.le-validate p.form_message{
		display:none;
		clear:none;
		color:red;
		font-size:13px;
		margin-bottom: 0;
		padding-left:0 !important;
	}
	
	form.le-validate input[type=submit].le-submit{
		float: right;
		clear:both;
		font-size: 12px;
		
		text-decoration: none;
		margin: 0;
		position: relative;
		padding: 6px 15px;
		height: auto;
		
		width: auto;
		color: white;
		
		background-color: #cc3300;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc3300), to(#ff3300));
		background: -webkit-linear-gradient(top, #ff3300, #cc3300);
		background: -moz-linear-gradient(top, #ff3300, #cc3300);
		background: -ms-linear-gradient(top, #ff3300, #cc3300);
		background: -o-linear-gradient(top, #ff3300, #cc3300);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3300',endColorstr='#cc3300',GradientType=0);
		font-family: ColabReg, Myriad Pro, Arial; 
		font-size:15px;
		border-width:0;
		border-top-width:1px;
		border-top-style:solid;
		border-top-color:#DEDEDE;
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		
		-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 0px rgba(255,255,255,0.205656);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 0px rgba(255,255,255,0.205656);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 0px rgba(255,255,255,0.205656);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 0px rgba(255,255,255,0.205656);
		
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='rgba(0,0,0,0.35))";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='rgba(0,0,0,0.35)');
		
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
		cursor:pointer;
	}
	form.le-validate input[type=submit].le-submit:hover{
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(255,255,255,0.405656);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(255,255,255,0.405656);
		-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(255,255,255,0.405656);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(255,255,255,0.405656);
		
	}
	form.le-validate input[type=submit].le-submit:active{
		border-top-color: #999999;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(0,0,0,0.205656);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(0,0,0,0.205656);
		-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(0,0,0,0.205656);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 0px 10px rgba(0,0,0,0.2);
		
	}
	
	form.le-validate input[type=text], form.le-validate input[type=password], form.le-validate input[type=textarea]{
		display: block;
		height: 30px;
		width: 160px;
		margin: 0 0 10px 0;
		padding: 0 30px 0 10px;
		border: 1px solid #b8b5b5;
		color: #999999;
		font-size: 12px;
		font-family: Arial, sans-serif;
		-moz-box-shadow: inset 0 2px 5px #d7d7d7, 1px 1px 2px #ffffff;
		-webkit-box-shadow: inset 0 2px 5px #d7d7d7, 1px 1px 2px #ffffff;
		-o-box-shadow: inset 0 2px 5px #d7d7d7, 1px 1px 2px #ffffff;
		box-shadow: inset 0 2px 5px #d7d7d7, 1px 1px 2px #ffffff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}

	form.le-validate input[type=text]:focus, form.le-validate input[type=password]:focus, form.le-validate input[type=textarea]:focus {
		color: #666666;
		border: 1px solid #51b1dd;
		-moz-box-shadow: inset 0 2px 5px #d7d7d7, 0px 0px 5px #c4e1e7;
		-webkit-box-shadow: inset 0 2px 5px #d7d7d7, 0px 0px 5px #c4e1e7;
		-o-box-shadow: inset 0 2px 5px #d7d7d7, 0px 0px 5px #c4e1e7;
		box-shadow: inset 0 2px 5px #d7d7d7, 0px 0px 5px #c4e1e7;
	}
	
	/* Notification styles */
	
	form.le-validate input.ico-valid, form.le-validate input.ico-invalid{
		background-repeat: no-repeat;
	}
	
	form.le-validate input.ico-valid{
		background-image: url(ico-valid.png);
		
	}
	
	form.le-validate input.ico-invalid{
		background-image: url(ico-invalid.png);
	}
	
	.le-notification{
		
		position: absolute;
		z-index:500;
		padding: 3px 10px;
		height:auto;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		@include border-radius(6px);
		margin-left:10px;
		
		  -webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
		
		/* The Changeable styles */
		color:rgb(121,164,179)!important;
		@include background-image(linear-gradient(-90deg,rgb(229,243,249) 0%,rgb(209,244,255) 100%));
		border: 1px solid rgb(178,220,235);
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5f3f9,endColorstr=#ffd1f4ff,GradientType=0)";
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5f3f9,endColorstr=#ffd1f4ff,GradientType=0);
		
		/* the extras */
		.msg_item{float:right; clear:both; margin-bottom:3px;line-height:1 !important;}
		 span{color:rgb(121,164,179)!important;font: 0.95em Arial, Helvetica, sans-serif;}
		
		&:before {
			content: "!";
			font-weight: bold;
			margin-right: 6px;
			padding: 0 5px; 
			background-color: white;
			color:rgb(121,164,179)!important;
			text-shadow: none;
			-moz-border-radius: 6px;
			-o-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}
		
		.arrow{
			position: absolute;
			left: -8px;
			top: 50%;
			margin-top: -5px;
			color: #445;
			font-size: 10px;
		}
		
		&.red {
			color:rgb(166,101,108)!important;
			@include background-image(linear-gradient(-90deg,rgb(255,241,241) 0%,rgb(255,232,232) 100%));
			border: 1px solid rgb(243,173,179);
			-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffff1f1,endColorstr=#ffffe8e8,GradientType=0)";
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffff1f1,endColorstr=#ffffe8e8,GradientType=0);}
			
			.red:before {color:rgb(166,101,108)!important;}
			.msg_item > span {color:rgb(166,101,108)!important;}
	}
 
 
.ajax__tab_outer {

	padding:($offset)/4 $offset;
	cursor: pointer;
	
	&:hover {background:$lightestgrey;color:$pink1;}
}

.ajax__tab_active {

	.ajax__tab_outer {background:$lightestgrey;}
}
